body {
    background-color: darkgray;
    color: darkred;
}

h1, h3 {
    background-color: rgb(177, 150, 109);
    color: rgb(53, 18, 18);
    font-family: 'sans-serif';
}

p.paragrafus1 {
    background-color: white;
    color: black;
}

p.paragrafus2 {
    background-color: black;
    color: white;
}

.altalanos-stilus-osztaly {
    color: blue;
    font-family: 'Trebuchet MS';
    text-decoration: underline;
}

div > ul > li {
    font-weight: bold;
    color: brown;
}

.kep-link {
    color: chocolate;
    text-decoration: none;
}

.kep-link:hover {
    color:violet;
    text-decoration: overline;
}

.kep-link:active{
    color: black;
    text-decoration: dotted;
}

.kep-link:visited {
    color:blanchedalmond;
    text-decoration: solid;
}

.tablazat-link{
    color: coral;
    text-decoration: underline;
}

.tablazat-link:hover {
    color: beige;
    text-decoration: overline;
}

.tablazat-link:visited {
    color: black;
    text-decoration: line-through;
}

.tablazat-link:active {
    color: brown;
    text-decoration: dashed;
}

p.paragrafus3 {
    height: 20vh;
    width: 100%;
    border-style: dashed;
    opacity: 50%;
    padding-left: 20vw;
    padding-top: 5vw;
    transition-duration: 2s;
}

p.paragrafus3:hover {
    opacity: 100%;
}

tr:nth-child(even) > td:nth-child(even),
tr:nth-child(odd) > td:nth-child(odd) {
    background: white;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
    background: black;
}

td {
    height: 50px;
    width: 50px;
}

.kep-mellett-szoveg-wrap {
    height: 100%;
    width: 100%;
}

.kep-mellett-szoveg-wrap > .kep-mellett-szoveg{
    border: solid;
    display: inline-block;
    width: 49%;
}

.kep-mellett-szoveg > p {
    display: inline-block;
    width: 49%;
}

.kep-mellett-szoveg  img {
    display: inline-block;
    width: 49%;
}
